$def with (name)

<!DOCTYPE html>
<html>
<head>
    <title>The Thunder Dome</title>
</head>
<body>

$if name :
    <head>Welcome to the Thunder Dome <em>$name</em></head>
    <p>
        This si t;ioarfjkjg a;rgk;glk atgg ;tgktgn';lf<br> 
        ktgm;tkgmwtgm wt/lgkmwrtgklm wgkmt wrtlkgmw wlgm gt;g g,g<br> 
        gktlgmwmt gmg gmtgmt qqrgk.,fga q'erkgg qe'rlmgma gqrmg<br> 
        wlgk qgkrg[ g'tmt ] g'tgm g'tklmggt'g gt'mglwtlgkm<br>
        wtlkgmrtg trlgkmertge er;tlkmgemrtlkg ertgklmrtglm<br>
    </p>
</body>
</html>